body {
    color: #cae2d8 !important;
    /*background: linear-gradient(to bottom, #0c2340, #2a2734);*/
    background-color: #0c2340;
    background-image: url('space-background.jpg');
    background-repeat: repeat;
}


.space-rat {
  display: block;
  max-width: 300px;
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #040612;
  box-shadow: 0 0 20px #003366;
}

/* proffesional/serious */
.feature_image_yes {
  display: block;
  max-width: 200px;
  width: 80%;
  margin: 0 auto;
}

.floating {
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}


.feature_image_no {
  display: block;
  max-width: 200px;
  width: 80%;
  margin: 0 auto;
  transform: scaleX(-1);
}

.gradient {
  background-color: #000000;
  background-image: radial-gradient(circle, #051930 0%, #000000 100%);
  background-image: linear-gradient(to top, #051930 0%, #000000 100%);
  text-shadow: 2px 2px #000;
  box-shadow: 0 0 10px #656b6f;
  border-radius: 10px;
}
.navbar {
  background-color: #000000;
  background-image: radial-gradient(circle, #051930 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #051930 0%, #000000 100%);
  text-shadow: 2px 2px #000;
  box-shadow: 0 0 10px #656b6f;
}

.introduction {
  background-color: #000000;
  background-image: radial-gradient(circle, #051930 0%, #000000 100%);
  text-shadow: 2px 2px #000;
  box-shadow: 0 0 10px #656b6f;
  border-radius: 10px;
  padding: 40px 30px;
}

.introduction p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;
  text-justify: inter-word;
}

@media (max-width: 580px) {
  .introduction {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}

.feature_typing {
  overflow: hidden; /* Ensures the content is not visible until animation starts */
  white-space: nowrap; /* Keeps text on a single line */
  margin: 0; /* Removes default margin */
  letter-spacing: 0.15em; /* Adjusts spacing between letters */
  animation: typing 3s steps(50) forwards; /* Starts the typing animation */
}

@keyframes typing {
  from { width: 0 } /* Starts with 0 width */
  to { width: 100% } /* Ends with full width */
}
