{% extends 'ratbot/base/base.html' %}

{% load static %}

{% block additional_cdn %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mt-3 mb-2">
        <h3 class="text-center">List of all scrim results hosted by Rat Bot</h3>
    </div>
    <div class="gradient-2 p-3">
    <table id="results" class="table table-striped display" width="100%">
        <thead  class="gradient" style="color:white;">
        <tr>
            <th scope="col" class="dt-center">ID</th>
            <th scope="col" class="dt-center">Server name</th>
            <th scope="col" class="dt-center">Scrim name</th>
            <th scope="col" class="dt-center">Scrim type</th>
            <th scope="col" class="dt-center">Date played</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
            <th scope="row" class="dt-center" style="color:white;">{{ result.pk }}</th>
            <td class="dt-center" style="color:white;">{{ result.server.guild_name }}</td>
            <td class="dt-center" style="color:white;"><a href="{% url 'scrim_detail' result.pk %}">{{ result.scrim_name }}</a></td>
            <td class="dt-center" style="color:white;">{{ result.get_scrim_type.label }}</td>
            <td class="dt-center" style="color:white;">{{ result.date_played }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    <script>
    $(document).ready(function() {
        $('#results').DataTable({
            scrollX: true,
            searching: true
            responsive: true
        });
    });
    </script>
</div>
{% endblock %}
