{% extends 'ratbot/base/base.html' %}

{% load static %}

{% block additional_cdn %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row mb-3 mt-4">
        <h3 class="text-center">Statistics by Rat Bot</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="rectangle gold"><p class="rectangle-content">#1</p></div>
                <h5 class="team-name">{{ statistics.top_stats.0.team.team_name }}</h5>
                <p class="team-text">Total Points: {{ statistics.top_stats.0.tp }}</p>
            </div>
            <div class="col-4">
                <div class="rectangle silver"><p class="rectangle-content">#2</p></div>
                <h5 class="team-name">{{ statistics.top_stats.1.team.team_name }}</h5>
                <p class="team-text">Total Points: {{ statistics.top_stats.1.tp }}</p>
            </div>
            <div class="col-4">
                <div class="rectangle bronze"><p class="rectangle-content">#3</p></div>
                <h5 class="team-name">{{ statistics.top_stats.2.team.team_name }}</h5>
                <p class="team-text">Total Points: {{ statistics.top_stats.2.tp }}</p>
            </div>
            <div class="col-12">
                <h5 class="top-3-teams gradient"><i class="fa-solid fa-caret-up" style="margin-right: 30px;"></i>TOP 3 TEAMS<i class="fa-solid fa-caret-up" style="margin-left: 30px;"></i></h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}