{% extends 'ratbot/base/base.html' %}

{% load static %}

{% block additional_cdn %}
{% endblock %}

{% block body %}
<style>

    .card {
      background-color: #252525;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      overflow: hidden;
      min-height:300px;
      margin: 10px;
    }

    .team-card a {
        color: white;
    }

    .button-1 {
        color: white !important;
        background-color: #04172b;
        border: 1px solid #b5c9c9;
        border-radius: 5px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        text-decoration: none;
    }

    .button-1:hover {
        background-color: #55727e;
        border: 1px solid #b5c9c9;
    }

    .img-top {
      height: 100px;
      object-fit: cover;
        background-color: #000000;
      background-image: radial-gradient(circle, #051930 0%, #999c9b 100%);
      background-image: linear-gradient(to top, #999c9b 0%, #051930 100%);
    }

    .team-title {
        font-size: 1.3rem;
        color: #1E75F2;
            border: 3px solid #040612;
    box-shadow: 0 0 20px #003366;
    }

    .team-tag {
      font-size: 0.9rem;
    }



</style>

<div class="container pl-2">
    <div class="row mt-3 mb-2">
        <h3 class="text-center">List of all teams registered by Rat Bot</h3>
    </div>
    <div class="row ml-2">
        <form method="get" class="d-flex">
            <input type="text" class="form-control m-1" name="search" value="{{ search_query }}"
                   placeholder="Search team name or tag">
            <select class="form-select m-1" name="sort_by">
                <option value="team_name" {% if sort_by == 'team_name' %}selected{% endif %}>Team name</option>
                <option value="team_tag" {% if sort_by == 'team_tag' %}selected{% endif %}>Team tag</option>
                <option value="followers" {% if sort_by == 'followers' %}selected{% endif %}>Followers</option>
            </select>
            <button type="submit" class="btn btn-primary m-1">Search</button>
        </form>
    </div>

    <div class="row mt-4" style="padding-left: 20px;">
        {% for index, team_data in teams.items %}
        <div class="col-sm-12 col-md-6 col-lg-4 mb-1 mt-1">
            <div class="card gradient-2">
                {% if team_data.team.team_image %}
                        <img class="img-top" src="{{ team_data.team.team_image.url }}"
                                         alt="{{ team_data.team.team_name }}">
                {% else %}
                        <img class="img-top" src="{% static 'ratbot/images/default_team_image.png' %}"
                                         alt="{{ team_data.team.team_name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="team-title text-center">{{ team_data.team.team_name }}</h5>
                    <p class="team-tag text-center">Team tag: <small>{{ team_data.team.team_tag }}</small></p>
                    <p class="text-center">Followers: <span class="badge bg-secondary"> {{ team_data.followers }} </span></p>
                    <div class="mt-1 mb-1 text-center">
                        <a href="{% url 'team_detail' team_data.team.pk %}" class="btn btn-sm button-1 mt-2" style="width: 100%">See Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <div class="col-12">
                <p>No teams found</p>
            </div>
        {% endfor %}

    </div>
    <div class="row mt-3" style="padding-left: 30px;">
        <div class="col-12 d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item {% if paginator.number == 1 %}disabled{% endif %}">
                        <a class="page-link" href="?page=1&search={{ search_query }}">First</a>
                    </li>
                    {% if paginator.has_previous %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ paginator.previous_page_number }}&search={{ search_query }}">Previous</a>
                    </li>
                    {% endif %}
                    <li class="page-item active">
                        <span class="page-link">{{ paginator.number }}</span>
                    </li>
                    {% if paginator.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ paginator.next_page_number }}&search={{ search_query }}">Next</a>
                    </li>
                    {% endif %}
                    <li class="page-item {% if paginator.number == paginator.paginator.num_pages %}disabled{% endif %}">
                        <a class="page-link" href="?page={{ paginator.paginator.num_pages }}&search={{ search_query }}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>
{% endblock %}
