{% extends 'ratbot/base/base.html' %}

{% load static %}

{% block additional_cdn %}
{% endblock %}

{% block body %}
<style>
    .space-bg {
        background-color: #2c3e50;
    }
</style>

<div class="container">
    <div class="row mt-3 mb-2">
        <h3 class="text-center">List of all teams registered by Rat Bot</h3>
    </div>
    <div class="gradient-2 p-3">
        <table id="teams" class="table table-striped display" width="100%">
            <thead class="gradient" style="color:white;">
            <tr>
                <th scope="col" class="dt-center">Team name</th>
                <th scope="col" class="dt-center">Team tag</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
            <tr style="color:white;">
                <!--            <td class="dt-center"><a href="% url 'team_detail' result.pk %}">{{ team.team_name }}</a></td>-->
                <td class="dt-center" style="color:white;">{{ team.team_name }}</td>
                <td class="dt-center" style="color:white;">{{ team.team_tag }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
    $(document).ready(function() {
        $('#teams').DataTable( {
            "scrollX": true,
            "searching": true
        });
    });

    </script>
</div>
{% endblock %}